.banner {

  &__carousel {
    position: relative;
  }

  &__carousel-item {
    &--1 {
      background: url('../images/slide-01.jpg');
    }
    
    &--2 {
      background: url('../images/slide-02.jpg');
    }
    
    &--3 {
      background: url('../images/slide-03.jpg');
    }
    min-height: 43.5rem;
    height: 100%;
    animation: moveToLeft .5s;
  }

  &__carousel-item,
  &__carousel-item--hidden {
    display: none;
  }

  &__carousel-item--visible {
    display: block;
  }

  &__carousel__actions {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    display: flex;
    justify-content: space-between;
  }
  
}

#banner__carousel-prev,
#banner__carousel-next {
  font-size: 1.5rem;
  font-weight: 700;
  color: color(color-white);
  background: color(color-primary);
  border: none;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  opacity: .4;
  transition: all .3s;

  &:hover,
  &:active {
    opacity: 1;
    cursor: pointer;
  }
}