.btn {
  font-size: .8rem;
  font-weight: 600;
  text-decoration: none;
  padding: 1em 2em;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  
  &--white {
    color: color(color-primary);
    background-color: color(color-white);
  }

  &--red {
    background-color: color(color-primary);
    color: color(color-white);
    width: 100%;
  }
}