.header {
  height: 6.3rem;
  background-color: color(color-background);
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(color(color-black), .15);
  align-items: center;
  padding: 0 3em;
  width: 100%;
  position: relative;
  z-index: 9999;

  &--sticky {
    position: fixed;
    animation: moveFromTop .5s ease;
  }
}

@keyframes moveFromTop {
  0% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(0);
  }
}