.main-section {
  padding: 8rem 0;
}

// SECTION AboutUs
.section__aboutUs {
  padding: 0 1em 7em;

  &-left {
    display: flex;
    flex-direction: column;
  }

  &__img {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;

    & img {
      width: 7.5rem;
    }
  }

  &-right {
    position: relative;

    &__link {
      background-color: color(color-primary);
      width: 4.5rem;
      height: 4.5rem;
      border-radius: 50%;
      color: color(color-white);
      border: none;
    }

    &__link,
    &__link i {
      @include absCenter;

    }
  }
}

// SECTION ourMenu
.section__menu {
  background-color: color(color-secondary);
  padding: 7em 1em 7em;

}

// SECTION CARD
.section__chief-card {
  padding: 8em 1em;
}

// SECTION CONTACT US
.section__contactUs {
  background: url('../images/reservation-bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: color(color-white);
}

// SECTION WEEK
.section__week {
  padding: 8em 1em;

  & .heading {
    width: 120%;
    text-align: center;

    & .heading__tertiary {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    } 
  }
}